@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}


    .text-dark-gold {
        color: #b8860b;
    }
    .nav-buttons {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-buttons button {
        flex: 1 1 48%;
        margin: 4px;
    }
    @media (min-width: 640px) {
        .nav-buttons {
            flex-wrap: nowrap;
        }
        .nav-buttons button {
            flex: 1;
            margin: 0;
            margin-right: 8px;
        }
    }
    .rounded {
        border-radius: 0.375rem;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }

.hidden {
  display: none;
}
.toast {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #48bb78; /* Tailwind green-500 */
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
